.derecha{
    text-align: right;
}

.borde{
    margin-bottom: 3%;
    border-bottom:1px solid #999;
}

.masI{
    margin: 1%;
}
.negrita{
    font-weight: bold;
}

.texto{
    text-transform: none;
}

.posicion{
    margin-top: 2%;
}

.liM{
    list-style: none;
}

#map {
    height: 50%;
    width: 50%;
    margin-left: 10%;
  }

  html, body{
    height: 100%;
  }
